<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListeProduit</servlet-name>
        <servlet-class>Control.ListeProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeAddition</servlet-name>
        <servlet-class>Control.ListeAddition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeType</servlet-name>
        <servlet-class>Control.ListeType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeServeur</servlet-name>
        <servlet-class>Control.ListeServeur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCommande</servlet-name>
        <servlet-class>Control.ListeCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatALivraison</servlet-name>
        <servlet-class>Control.PlatALivraison</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatCuit</servlet-name>
        <servlet-class>Control.PlatCuit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatDispo</servlet-name>
        <servlet-class>Control.PlatDispo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatNonLivree</servlet-name>
        <servlet-class>Control.PlatNonLivree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatPrepare</servlet-name>
        <servlet-class>Control.PlatPrepare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCommande</servlet-name>
        <servlet-class>Control.GestionCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeProduit</servlet-name>
        <servlet-class>Control.TypeProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommndeParType</servlet-name>
        <servlet-class>Control.CommndeParType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListePrixReviens</servlet-name>
        <servlet-class>Control.ListePrixReviens</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertCommande</servlet-name>
        <servlet-class>Control.insertCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListePourBoire</servlet-name>
        <servlet-class>Control.ListePourBoire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cuisine</servlet-name>
        <servlet-class>Control.Cuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeIngredient</servlet-name>
        <servlet-class>Control.ListeIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListeIngredient</servlet-name>
        <servlet-class>Control.servletListeIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeNonPaye</servlet-name>
        <servlet-class>Control.ListeNonPaye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stock</servlet-name>
        <servlet-class>Control.Stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginLivreur</servlet-name>
        <servlet-class>Control.LoginLivreur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCuisine</servlet-name>
        <servlet-class>Control.LoginCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutLivreur</servlet-name>
        <servlet-class>Control.LogOutLivreur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>Control.LoginAdmin</servlet-class>
    </servlet>
        <servlet-name>LogOutCuisine</servlet-name>
        <servlet-class>Control.LogOutCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServeur</servlet-name>
        <servlet-class>Control.LogOutServeur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServeur</servlet-name>
        <servlet-class>Control.LoginServeur</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ListeProduit</servlet-name>
        <url-pattern>/ListeProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeServeur</servlet-name>
        <url-pattern>/ListeServeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeType</servlet-name>
        <url-pattern>/ListeType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCommande</servlet-name>
        <url-pattern>/ListeCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeProduit</servlet-name>
        <url-pattern>/TypeProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommndeParType</servlet-name>
        <url-pattern>/CommndeParType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListePrixReviens</servlet-name>
        <url-pattern>/ListePrixReviens</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertCommande</servlet-name>
        <url-pattern>/insertCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListePourBoire</servlet-name>
        <url-pattern>/ListePourBoire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cuisine</servlet-name>
        <url-pattern>/Cuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeIngredient</servlet-name>
        <url-pattern>/ListeIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeAddition</servlet-name>
        <url-pattern>/ListeAddition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListeIngredient</servlet-name>
        <url-pattern>/servletListeIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeNonPaye</servlet-name>
        <url-pattern>/ListeNonPaye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stock</servlet-name>
        <url-pattern>/Stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatALivraison</servlet-name>
        <url-pattern>/PlatALivraison</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCommande</servlet-name>
        <url-pattern>/GestionCommande</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PlatPrepare</servlet-name>
        <url-pattern>/PlatPrepare</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PlatCuit</servlet-name>
        <url-pattern>/PlatCuit</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PlatDispo</servlet-name>
        <url-pattern>/PlatDispo</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PlatNonLivree</servlet-name>
        <url-pattern>/PlatNonLivree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginLivreur</servlet-name>
        <url-pattern>/LoginLivreur</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>LoginCuisine</servlet-name>
        <url-pattern>/LoginCuisine</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>LoginServeur</servlet-name>
        <url-pattern>/LoginServeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutCuisine</servlet-name>
        <url-pattern>/LogOutCuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServeur</servlet-name>
        <url-pattern>/LogOutServeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutLivreur</servlet-name>
        <url-pattern>/LogOutLivreur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
